@model Inventory_App.Models.FocalPersonMV

@{
    ViewBag.Title = "Focal Person";
}


<div class="col-lg-6">
    <div class="card card-default mb-6">
        <div class="card-header">Focal Person Details </div>
        <div class="card-body">
            <div>
                <h4>Employee</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.employeeMV.Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.employeeMV.Name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.employeeMV.ContactNo)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.employeeMV.ContactNo)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.employeeMV.Photo)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.employeeMV.Photo)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.employeeMV.Email)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.employeeMV.Email)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.employeeMV.Address)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.employeeMV.Address)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.employeeMV.CNIC)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.employeeMV.CNIC)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.employeeMV.Designation)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.employeeMV.Designation)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.employeeMV.Description)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.employeeMV.Description)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.employeeMV.MonthlySalary)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.employeeMV.MonthlySalary)
                    </dd>

                </dl>
            </div>




            <div>
                <h4> User Details</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.userMV.UserName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.userMV.UserName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.userMV.ContactNo)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.userMV.ContactNo)
                    </dd>

                    

                    <dt>
                        @Html.DisplayNameFor(model => model.userMV.Email)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.userMV.Email)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.userMV.Address)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.userMV.Address)
                    </dd>

                </dl>
            </div>
            <p>

                @Html.ActionLink("Back","AllCompanyBranches","Branch",null, new {@class = "btn btn-default"})
            </p>
        </div>
    </div>
</div>