@model Inventory_App.Models.AccountControlMV

@{
    ViewBag.Title = "Account Control";
}

<div class="col-lg-6">
    <div class="card card-default mb-6">
        <div class="card-header">Edit Account Control</div>
        <div class="card-body">
            @using (Html.BeginForm("EditAccountControl", "Accounts", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(u => u.BranchID)
                @Html.HiddenFor(u => u.CompanyID)
                @Html.HiddenFor(u => u.UserID)
                @Html.HiddenFor(u => u.AccountControlID)
                <hr />
                <div class="form-group">
                    @Html.LabelFor(model => model.AccountHeadID, "Account Head", htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-10">
                        @Html.DropDownList("AccountHeadID", null, "--Select--", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.AccountHeadID, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group">
                    @Html.LabelFor(model => model.AccountControlName, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.AccountControlName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.AccountControlName, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Update" class="btn btn-outline-success" />
                        @Html.ActionLink("Back", "AllAccountControls", "Accounts", null, new { @class = "btn btn-outline-default" })
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>