@model IEnumerable<Inventory_App.Models.CategoryMV>

@{
    ViewBag.Title = " Stock Categories";
}

<div class="card">
    <div class="card-header">
        <div class="card-title">Stock Categories</div>


    </div>
    <div class="card-body">
        <div>@Html.ActionLink("New Category", "CreateCategory", null, new { @class = "btn btn-primary" })</div>
        <hr />
        <table class="table table-striped my-4 w-100" id="datatable2">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.categoryName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreatedBy)
                    </th>

                    <th>Action</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.categoryName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedBy)
                        </td>

                        <td>
                            @Html.ActionLink("Edit", "EditCategory", new { categoryID = item.CategoryID }, new { @class = "btn btn-warning" })
                        </td>
                    </tr>
                }

            </tbody>

        </table>
    </div>
</div>